.LiBottleneckContainer {
  padding: 15px;
  background-color: silver;
  margin: 6px 0;
  cursor: pointer;
  list-style: none;
  border-radius: 5px;
}
.BottleneckFlexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
